visualizar dados de uma tabela com SQLite

In [ ]:
import sqlite3

conexao = sqlite3.connect('exemplo.db')
cursor = conexao.cursor()

cursor.execute('UPDATE usuarios SET idade = ? WHERE nome ?', (40, 'Alice'))
conexao.commit()

conexao.close()

In [ ]:
import sqlite3
cenexao = sqlite3.connect('exemplo.db')
conexao = conexao.cursor()

cursor.execute('SELECT * FROM usuarios')
dados = cursor.fetchall()
for linha in dados:
  print(linha)

  conexao.close()

In [ ]:
import sqlite3

conexao = sqlite3.connect('exemplo.db')
cursor = conexao.cursor()

cursor.execute('DELETE FROM usuarios WHERE id = ?', (1,))
conexao.commit()

conexao.close()